
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form>
    <div class="form-group">
        <label>Customer</label>
        <input type="text" class="form-control" value="" />
    </div>
    <div class="form-group">
        <label>Movie</label>
        <input type="text" class="form-control" value="" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>